AWSTemplateFormatVersion: "2010-09-09"

Description: "Security Group"

Resources:
  SecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "Security Group"
      VpcId:
        Fn::ImportValue: {{ item.vpc_stack_name }}-vpc::id

{% for security_group_ingress in item.security_group_ingress %}
  SecurityGroupIngress{{ loop.index }}:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: { Ref: SecurityGroup }
{% if security_group_ingress.cidr_ip is defined %}
      CidrIp: {{ security_group_ingress.cidr_ip }}
{% endif %}
      FromPort: {{ security_group_ingress.from_port }}
      IpProtocol: {{ security_group_ingress.ip_protocol }}
{% if security_group_ingress.security_group_stack_name is defined %}
      SourceSecurityGroupId:
        Fn::ImportValue: {{ security_group_ingress.security_group_stack_name }}-security::group::id
{% endif %}
      ToPort: {{ security_group_ingress.to_port }}

{% if security_group_ingress.self_referencing is defined %}
  SecurityGroupIngressSelfReferencing{{ loop.index }}:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: { Ref: SecurityGroup }
{% if security_group_ingress.cidr_ip is defined %}
      CidrIp: {{ security_group_ingress.cidr_ip }}
{% endif %}
      FromPort: {{ security_group_ingress.from_port }}
      IpProtocol: {{ security_group_ingress.ip_protocol }}
{% if security_group_ingress.security_group_stack_name is defined %}
      SourceSecurityGroupId: { Ref: SecurityGroup }
{% endif %}
      ToPort: {{ security_group_ingress.to_port }}
{% endif %}
{% endfor %}

Outputs:
  SecurityGroup:
    Description: "Security Group Id"
    Export:
      Name:
        Fn::Sub: ${AWS::StackName}-security::group::id
    Value: { Ref: SecurityGroup }
