AWSTemplateFormatVersion: "2010-09-09"

Description: "Hosted Zone"

Resources:
  HostedZone:
    Type: AWS::Route53::HostedZone
    Properties:
      Name: {{ item.name }}
      VPCs:
{% for vpc in item.vpcs %}
        - VPCId:
            Fn::ImportValue: {{ vpc.stack_name }}-vpc::id
          VPCRegion: {{ vpc.region }}
{% endfor %}

Outputs:
  HostedZoneId:
    Description: "Hosted Zone Id"
    Export:
      Name:
        Fn::Sub: ${AWS::StackName}-hosted::zone::id
    Value: { Ref: HostedZone }
